<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Đăng nhập</title>
<link rel="stylesheet" href="/user/css/signIn.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<!-- Nhúng thư viện angularJS -->
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<!-- JavaScript -->
<script src="/user/js/authApp.js"></script>
</head>

<body ng-app="authApp">
	<div class="login-container" ng-controller="LoginController">
		<h2>Đăng Nhập</h2>
		<form ng-submit="login()">
			<div class="form-group">
				<label for="username">Tài khoản:</label> <input type="text"
					id="username" ng-model="user.username" required>
			</div>
			<div class="form-group">
				<label for="password">Mật khẩu:</label> <input type="password"
					id="password" ng-model="user.password" required>
			</div>
			<button type="submit">Đăng Nhập</button>
		</form>
		<p class="message" ng-if="loggedIn">
			Bạn đã đăng nhập với: <br> Tài khoản: {{ user.username }} <br>
			Mật khẩu: {{ user.password }}
		</p>
	</div>
</body>
</html>